

*{
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
    display: flex;
    text-align: center;
    justify-content: center;
    overflow: hidden;
    height: 100vh;
    margin:0;
    margin-top:200px ;
}

.world{
    text-align: center;
    background: lightgray;
    color: seagreen;
    text-transform: uppercase;
    height: 90px;
    justify-content: center;
    margin-top:-180px;
    margin:auto;
    
}
.container{
    display: flex;
    width:100vh;
}
.plane{
    transition: 1s ease;
    background: auto 100%;
    background-position:center;
    background-repeat: no-repeat;
    height: 50vh ;
    border-radius: 50px;
    color: white;
    cursor: pointer;
    flex: 0.5;
    margin: 10px;
    position: relative;
    transition-duration: flex o.6s ease-in ;

}
.plane h3{
    color: #000;
font-size: 24px;
position:absolute;
bottom: 20px;
left: 20px;
text-transform: uppercase;
margin: 0;
opacity: 0;
}
.plane.active{
    flex: 5;

}
.plane.active h3{
    opacity: 1;
}
@media(max-width:480px){
    .container{
        width: 100vw;
    }
    .plane.nth-of-type ,
    .plane.nth-of-type {
        display: none;

    }
}